src/tp/s1/exercise5/StudentListService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://www.test.fr" name="StudentListService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://www.test.fr" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://www.test.fr" schemaLocation="StudentListService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="add">
    <part name="parameters" element="tns:add"/>
  </message>
  <message name="addResponse">
    <part name="parameters" element="tns:addResponse"/>
  </message>
  <message name="removeS">
    <part name="parameters" element="tns:removeS"/>
  </message>
  <message name="removeSResponse">
    <part name="parameters" element="tns:removeSResponse"/>
  </message>
  <message name="removeI">
    <part name="parameters" element="tns:removeI"/>
  </message>
  <message name="removeIResponse">
    <part name="parameters" element="tns:removeIResponse"/>
  </message>
  <message name="getInfo">
    <part name="parameters" element="tns:getInfo"/>
  </message>
  <message name="getInfoResponse">
    <part name="parameters" element="tns:getInfoResponse"/>
  </message>
  <message name="getList">
    <part name="parameters" element="tns:getList"/>
  </message>
  <message name="getListResponse">
    <part name="parameters" element="tns:getListResponse"/>
  </message>
  <portType name="StudentList">
    <operation name="add">
      <input wsam:Action="add" message="tns:add"/>
      <output wsam:Action="http://www.test.fr/StudentList/addResponse" message="tns:addResponse"/>
    </operation>
    <operation name="removeS">
      <input wsam:Action="removeS" message="tns:removeS"/>
      <output wsam:Action="http://www.test.fr/StudentList/removeSResponse" message="tns:removeSResponse"/>
    </operation>
    <operation name="removeI">
      <input wsam:Action="removeI" message="tns:removeI"/>
      <output wsam:Action="http://www.test.fr/StudentList/removeIResponse" message="tns:removeIResponse"/>
    </operation>
    <operation name="getInfo">
      <input wsam:Action="getInfo" message="tns:getInfo"/>
      <output wsam:Action="http://www.test.fr/StudentList/getInfoResponse" message="tns:getInfoResponse"/>
    </operation>
    <operation name="getList">
      <input wsam:Action="getList" message="tns:getList"/>
      <output wsam:Action="http://www.test.fr/StudentList/getListResponse" message="tns:getListResponse"/>
    </operation>
  </portType>
  <binding name="StudentListPortBinding" type="tns:StudentList">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="add">
      <soap:operation soapAction="add"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="removeS">
      <soap:operation soapAction="removeS"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="removeI">
      <soap:operation soapAction="removeI"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getInfo">
      <soap:operation soapAction="getInfo"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getList">
      <soap:operation soapAction="getList"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="StudentListService">
    <port name="StudentListPort" binding="tns:StudentListPortBinding">
      <soap:address location="http://localhost:8089/?wsdl"/>
    </port>
  </service>
</definitions>

